#chat-message-list {
    grid-area: chat-message-list;
    display:flex;
    flex-direction:column;
   
    min-height: 20vh;
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    /* border-radius: 20px; */
   
    
    /* position: fixed;
    right: 0; */
    /* width: 90vw; */
    /* bottom: 0; */
}
.message-row {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 20px;
}

.message-content {
    display:grid;
}

.you-message .message-content {
    justify-content: end;
}

.you-message .message-content {
    justify-content:end;
}

.other-message {
    justify-items: start;
}

.other-message .message-content {
    grid: template columns 48px 1fr;
    grid-column-gap: 15px;
}

.message-row img {
    border-radius: 100%;
    grid-row: span 2;
    height: 40px;
    width: 40px;
}

.message-time {
    font-size: 0.7rem;
    color: #777;
    text-align: end;
    margin-block-end: -23px;
    margin-top: -5px;
}
.message-time-sender {
    font-size: 0.7rem;
    color: #777;
    text-align: start;
    margin-block-end: -23px;
    margin-top: -5px;
}
.message-time-admin {
    font-size: 0.7rem;
    color: #777;
    text-align: center;
    margin-block-end: -23px;
}
.message-text {
    padding: 9px 14px;
    font-size:0.8rem;
    margin-bottom: 5px;
}

.you-message .message-text {
    background: #1f93ff;
    /* max-width: 75%; */
    /* margin-left: 30%; */
    color: #eee;
    word-break: break-all;
    border: 1px solid #e9ecef;
    border-radius:9px 9px 0 9px;
}
.admin-message .message-text {
    background: #70d4e6;
    /* max-width: 75%; */
    /* margin-left: 30%; */
    color: rgb(1, 1, 14);
    text-align: center;
    word-break: normal;
    border: 1px solid #e9ecef;
    border-radius:9px 9px 9px 9px;
    width:75%;
    margin-left: 10%;
    margin-right: 15%;
}

.other-message .message-text {
    background: #ffffff;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 9px 9px 9px 0;
}

.send-messages {
    width: 80%;
    /* border-radius: 10px; */
    outline:none;
    display: inline-block;
    height: 7vh;
    margin-left: 7px;
    margin-top: 1vh;
    /* margin-bottom: 1vh; */
   border:white


}
.panel{
   
    max-height: 410px;
    /* overflow-y: scroll; */
    padding-top: 10px;
    -webkit-overflow-scrolling: touch;
    background-color: #f4f7f9;
}
.online{
    font-size: 15px;
    color: springgreen;
    margin-top: 12%;
    margin-left: 2%;
    margin-right: 4%;
}
.align{
    margin-top: -7px;
    margin-right: 4px;
}

.status{
    display: flex;
    margin-left: 40%;
}

.send-btn {
    /* margin-bottom: 6px; */
    width: 40px;
    height: 7vh;
    border: white;
    background-color: white;

    /* border-radius: 10px; */
}
.sendicon{
    font-size: 20px;
}
.nav-bar {
    box-shadow: 3px 6px 47px -5px rgb(0 0 0 / 26%);
    /* display: flex; */
    display: unset;
    top:0;
    height: 40px;
}
.send-bar {
    background: #f8f9fa;
    height: 9vh;
    box-shadow: 3px 6px 47px -5px rgb(0 0 0 / 26%);
}
.header{
    display: unset;
    top:0;
    height: 30px;
}

.maincontainer{
    /* bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 20px;
    width: 90vw;
    z-index: 9999;
    box-shadow: whitesmoke;
    max-height: 60%;
    margin-bottom: 20px; */
    border:1px solid grey;
border-radius: 5px;
box-shadow: slategrey 2px;
}
/* .sent-msg {
    position: fixed;
    display: contents;
} */
.heading{
    display: flex;
    margin-left: 15%;
}
.headerimg{
    margin: 4px;
}
