.home{
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 0;
    width: 90vw;
    z-index: 9999;
    /* max-height: 60%; */
    min-height: 60%;
}
.wid{
    margin-left: 85%;
    margin-top: 4px;
}
.home1{
    display: flex;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 0;
   
    z-index: 9999;
    
}