.widget{
    width: 60px;
    height: 60px;
    font-size: 15px;
    border-radius: 50px;
background-color: rgb(93, 197, 238);
border:white;
color: white;


}
.icon{
    font-size: 45px;
}
.card{
    bottom: 0;
display: flex;
flex-direction: column;
margin: 0 20px 20px 0;
max-width: 370px;
position: fixed;
right: 0;
width: 90vw;
z-index: 9999;
/* max-height: 60%; */
min-height: 60%;
border: grey solid 1px;
padding: 10px 10px 20px 10px;

background-color: white;
/* box-shadow: 10px 10px 5px 5px 5px #aaaaaa; */
box-shadow: 2px 2px 5px 2px #fff;
}
.message{
    margin-top: 25%;
    font-size: 40px;
}
.loading{
    margin-top: 40px;
}
